---
layout: default
title: Page Not Found
permalink: /404.html 
---

<div class="container">

    {% include ad_responsive.html id='6870723099' name='BnS 404 Header' adblock='true' class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-lg centered-md centered-sm centered-xs ad-pull-top' adblock_class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-xs ad-pull-top centered-lg' %}

    <h2 class="heading">Page Not Found</h2>
    <div class="heading-hr"></div>

    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <img src="{{site.base_url }}/assets/images/pickaxe.png" class="img-responsive center-block" />
        </div>

        <div class="col-xs-12 col-sm-8">
            <p>Sorry, but the page you're looking for couldn't be found.</p>

            <p>If you experience any issues with the site itself, feel free to contact us via the forums or by opening an issue using the appropriate link below:</p>

            <div class="row no-horizontal-margin">
                <div class="col-xs-12 col-sm-4">
                    <a href="/" class="btn btn-success block-btn"><i class="fa fa-home"></i> Home</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="/forums/" class="btn btn-primary block-btn"><i class="fa fa-users"></i> Forums</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="https://github.com/BuildandShoot/buildandshoot.github.io/issues" class="btn btn-warning block-btn"><i class="fa fa-github"></i> Report Issue</a>
                </div>
            </div>
        </div>
    </div>

    {% include ad_responsive.html id='5393989898' name='BnS 404 Footer' class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-lg centered-md centered-sm centered-xs ad-pull-bottom' %}
</div>