---
layout: default
---

<div class="container">

    {% include ad_responsive.html id='5720235096' name='BnS Landing Header' adblock='true' class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-xs ad-pull-top' adblock_class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-xs ad-pull-top centered-lg' %}

    <div class="row">

        <div class="col-md-6">

            <div class="row">
                <div class="embed-responsive-item"><iframe width="100%" height="400" src="https://www.youtube.com/embed/jq-_ohfJZIM?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe></div>
            </div>
            
            <div class="row">

                {% include ad_responsive.html id='1493891494' name='BnS Landing Content' class='hidden-lg hidden-md leaderboard-sm banner-xs centered-lg centered-md centered-sm centered-xs ad-horizontal' %}

                <div class="col-xs-12 col-sm-6">
                    <a href="/download/" class="btn btn-success block-btn"><i class="fa fa-download"></i> Download</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="/forums/" class="btn btn-primary block-btn"><i class="fa fa-users"></i> Community</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="landing text-center"><span class="blue">Build</span> <span class="orange">and</span> <span class="green">Shoot</span></h2>
            <p>Build and Shoot is a player-run community for the online voxel FPS game based on Ace of Spades Classic. Login to play the game, interact with players, and customize your experience — it's all 100% free!</p>
            <h2 class="landing text-center"><span class="blue">Build</span> <span class="orange">to</span> <span class="green">Survive</span></h2>
            <p>Download Ace of Spades now - it’s awesome, free and runs on any PC. It&#8217;s the best bits of Minecraft crossed with the fast-paced shooter gameplay of Team Fortress.</p>
            <ul>
                <li>Build anything &#8211; defensive positions to fortresses</li><li>Destroy enemy structures, dropping opponents to their death</li>
                <li>Use your spade to dig through terrain &#8211; make trenches or tunnels</li><li>Massive maps with lakes, rivers and tunnels</li>
                <li>Realistic rifle, shotgun and SMG including ironsights and recoil</li><li>Dynamic lighting system based on ambient occlusion</li>
                <li>Up to 32 players battling simultaneously</li><li>CTF or Territory Control game modes</li>
            </ul>
        </div>
    </div>

    {% include ad_responsive.html id='7196968293' name='BnS Landing Footer' class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-lg centered-md centered-sm centered-xs ad-pull-bottom' %}
</div>