<div class="ad-container">
    <!-- {{ include.name }} -->
    <ins class="adsbygoogle{% if include.class %} {{ include.class }}{% endif %}"
         style="display:block;text-align:center;"
         data-ad-client="{{ site.adsense_client }}"
         data-ad-slot="{{ include.id }}"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

{% if include.adblock %}
<div class="ad-blocked{% if include.class %} {{ include.class }}{% endif %}" {% if include.adblock_class %} data-adblock-class="ad-blocked {{ include.adblock_class }}"{% endif %} style="display:none;height: inherit;">
    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="/assets/images/dead_icon.png">
        </div>
        <div class="media-body media-middle">
            <h4 class="media-heading">Ads Support Build and Shoot</h4>
            Build and Shoot relies on ads to help pay for development and hardware costs. Please consider adding us to your adblock's whitelist to help support us. Thank you!
        </div>
        <div class="media-right media-middle">
            <img class="media-object" src="/assets/images/dead_icon.png">
        </div>
    </div>
</div>
{% endif %}