---
layout: default
title: Download
mustacheSetDelimiter: "{{={u{ }u}=}}"
js:
    - "/vendor/mustache/mustache.min.js"
    - "/vendor/moment/moment.min.js"
---

<div class="container">

    {% include ad_responsive.html id='5301432699' name='BnS Download Header' adblock='true' class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-xs ad-pull-top' adblock_class='leaderboard-lg leaderboard-md leaderboard-sm banner-xs centered-xs ad-pull-top centered-lg' %}

    <div class="row">

        <div class="col-md-10 col-sm-12" data-adblock-class="col-xs-12">

            <div class="no-horizontal-margin">
                <h3 class="text-center">Build and Shoot Launcher</h3>
                <div class="heading-hr"></div>
                <p>Our launcher supports all versions of the original Ace of Spades Classic "Voxlap" client (0.1 through 0.76) and automatically runs the host server's required version.</p>
                <div id="launcher-container" class="download-container"></div>
            </div>
            <div class="row no-horizontal-margin">
                <h3 class="text-center">OpenSpades</h3>
                <div class="heading-hr"></div>
                <p>OpenSpades is an open source OpenGL-based alternative client by yvt that can be used to play on all AoS 0.75 and AoS 0.76 servers. Runs on Windows, Mac, and Linux. Improved graphics, higher system requirements.</p>
                <div id="openspades-container" class="download-container"></div>
            </div>
            <div class="row no-horizontal-margin">
                <h3 class="text-center">Voxlap Standalone Installers</h3>
                <div class="heading-hr"></div>
                <p>Voxlap is the original engine used for Ace of Spades up through v0.76. If you played the game during the early beta stages, this is what you're looking for.</p>
                <div id="voxlap-container" class="download-container"></div>
            </div>
            <div class="row no-horizontal-margin">
                <h3 class="text-center">PySnip Server</h3>
                <div class="heading-hr"></div>
                <p>PySnip is a robust, open-source and cross-platform server implementation for Ace of Spades. It is fully customizable with extensions and scripts.</p>
                <div id="pysnip-container" class="download-container"></div>
            </div>
        </div>

        <div class="col-md-2 hidden-sm" data-adblock-class="hidden-xs">
            {% include ad_responsive.html id='6778165890' name='BnS Download Skyscraper' class='skyscraper-lg skyscraper-md hidden-sm hidden-xs' %}
        </div>

    </div>

    {% include ad_responsive.html id='8254899094' name='BnS Download Footer' class='leaderboard-lg leaderboard-md leaderboard-sm mobile-xs centered-xs ad-pull-bottom' %}

</div>

<script id="download-template" type="text/template">
<ul class="nav nav-tabs nav-tabs-custom">
    <li class="active"><a data-toggle="tab" href="#{u{release_name}u}-files-tab"><i class="fa fa-download"></i> Files</a></li>
    <li><a data-toggle="tab" href="#{u{release_name}u}-requirements-tab"><i class="fa fa-desktop"></i> System Requirements</a></li>
</ul>
<div class="tab-content">
    <div id="{u{release_name}u}-files-tab" class="tab-pane fade in active">

        <div id="{u{release_name}u}-placeholder" class="loading-placeholder">
            <img src="/assets/images/spin.gif" />
            <h3>Loading...</h3>
        </div>

        <div class="table-responsive" style="display:none" id="{u{release_name}u}-table">
            <table class="table download-table">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Platform(s)</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="{u{release_name}u}-files">
                </tbody>
            </table>
        </div>
    </div>
    <div id="{u{release_name}u}-requirements-tab" class="tab-pane fade">
        <div class="col-sm-6">
            <h3>Minimum</h3>
            <ul>
              {u{#minimum_specs}u}
                <li>{u{.}u}</li>
              {u{/minimum_specs}u}
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>Recommended</h3>
            <ul>
              {u{#recommended_specs}u}
                <li>{u{.}u}</li>
              {u{/recommended_specs}u}
            </ul>
        </div>
    </div>
</div>
</script>

<script id="files-template" type="text/template">
<tr>
    <td class="col-md-3"><strong> {u{version}u}</strong></td>
    <td class="col-md-3"><i class="fa fa-{u{platform.fontawesome}u}" aria-hidden="true"> {u{platform.name}u}</td>
    <td class="col-md-3"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="file-updated">{u{updated}u}</span></td>
    <td class="col-md-3"><a href="{u{url}u}" class="btn btn-success block-btn"><i class="fa fa-download"></i> Download</a></td>
</tr>
</script>

<script type="text/javascript">
function populateDownloads(release_name, minimum_specs, recommended_specs) {
    var templateData = {
                release_name : release_name,
                minimum_specs: minimum_specs,
                recommended_specs: recommended_specs
            }

    var downloadTemplate = $('#download-template').html();
    $("#" + release_name + "-container").append(Mustache.render("{{page.mustacheSetDelimiter}} " + downloadTemplate, templateData));  
}

function gotReleases(releases, tag) {
    if (releases.length == 0)
        return;

    var filesTemplate = $('#files-template').html();

    if (releases.length > 0) {
        $("#" + tag + "-placeholder").hide();
        $("#" + tag + "-table").show();
    }

    var filesContainer = $("#" + tag + "-files");

    for(var i = 0; i < releases.length; i++) {
        filesContainer.append(Mustache.render("{{page.mustacheSetDelimiter}} " + filesTemplate, releases[i]));
    }

    //todo switch this to proper mustache date formatting
    $(".file-updated", filesContainer).each(function () {
        var updated = $(this).text();
        var m = moment(updated);

        if (m.isValid()) {
            $(this).text(m.format("MMMM Do, YYYY"));
        } else {
            $(this).text("N/A");
        }
    });
}

$(document).ready(function () {

    populateDownloads("launcher", 
        ['Windows XP or later', 
        'Microsoft .NET Framework 3.5'], 

        ['Windows 7 or later', 
        'Microsoft .NET Framework 3.5']);

    getLauncherReleases(gotReleases, "launcher");

    populateDownloads("openspades", 
        ['Windows Vista or later, OS X, or Linux',
        '1GHz dual-core processor',
        'GPU: 512MB or more VRAM',
        'GPU (Intel): Intel HD Graphics 3000 or better',
        'GPU (NVIDIA): GeForce 9 Series or better',
        'GPU (AMD): Radeon HD 7350',
        '1GB RAM',
        '800x600 display',
        'Broadband network connection',
        'Keyboard and pointing device'],

        ['3GHz quad-core processor',
        'Stereo audio output',
        'GPU: 1GB or more VRAM',
        'GPU (NVIDIA): GeForce GTX 680',
        'GPU (AMD): Radeon R9 280X',
        '2GB RAM',
        'Mouse input']); 
    getOpenspadesReleases(gotReleases, "openspades");

    populateDownloads("pysnip", 
        ['Python 2.7'],

        ['Python 2.7']);
    getPysnipReleases(gotReleases, "pysnip");

    populateDownloads("voxlap", 
        ['Your grandmother’s rig can run this game.'],

        ['Your mother’s rig can run this game.']);
    getVoxlapReleases(gotReleases, "voxlap");
}); 
</script>